/* Especificidad 002 */
body>header {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Especificidad 001 */
nav {
    display: flex;
    margin-bottom: 0.5rem;
}


/* Especificidad 001 */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Especificidad 003 */
body>header h1 {
    margin-right: 0.8em;
    margin-left: 0.25em;
}

@media screen and (max-width: 1150px) {

    /* Especificidad 002 */
    body>header {
        gap: 0em;
        /* Redefinici贸n de justify-content */
        justify-content: center;
        /* Redefinici贸n de flex-direction */
        flex-direction: column;
    }

    /* Especificidad 002 */
    nav {
        flex-flow: row;
        align-items: center;
        justify-content: center;
        /* Redefinici贸n de flex-wrap */
        flex-wrap: wrap;
        /* Redefinici贸n de flex-direction */
        flex-direction: column;
    }
}