body {
    margin: 0;
}

main {
    margin: 0.5rem;
    flex: 1;
}

/* Especificidad 002 */
body>header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Especificidad 001 */
nav {
    display: flex;
}

/* Especificidad 001 */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Especificidad 003 */
body>header h1 {
    margin: 0 0.8em 0 0.25em;
}

@media screen and (max-width: 1200px) {

    /* Especificidad 002 */
    body>header {
        /* Redefinición de justify-content */
        justify-content: center;
        flex-direction: column;
    }

    /* Especificidad 002 */
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}